@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #1e3a8a
}
.app-body {
    height: 90vh;
    overflow: auto;
}

.carosel-img{
    /* max-width: 1600px; */
    width: 1200px;
    height: 500px;
    /* border-radius: 2%; */
    
}



