@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0f172a
}

.carosel-img{
    width: 75%;
    height: 75vh;
    min-height: 0;
    object-fit: fill;
}

.carosel-img-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carosel-btn-body{
    display: flex;
}